.person-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(
    180deg,
    transparent 50%,
    var(--color-main) 50%
  );
}

.person {
  grid-area: 1 / 1 / 3 / 2;
}
.fancy-list {
  grid-area: 1 / 2 / 2 / 3;
}
#search-title {
  grid-area: 2 / 2 / 3 / 3;
}
