#cell-1.map-cell {
  grid-column-start: 1;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

#cell-5.venues-cell {
  grid-column-start: 1;
  grid-column-end: 7;
}
@media (min-width: 900px) {
  #cell-5.venues-cell {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
