#cell-1.map-cell {
  grid-column-start: 1;
  /* grid-column-end: 7; */
  /* padding-top: 70px; */
  /* padding-left: 0; */
  padding-top: 0;
  padding-right: 0;
}

#cell-5.venues-cell {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  padding-bottom: 80px;
}
