#app-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  min-height: calc(100vh - 60px - 66px);
}
@media (min-width: 900px) {
  #grid {
    grid-template-rows: auto auto max-content;
  }
}

.cell {
  padding-left: 1.875em;
  padding-right: 1.875em;
}

@media (min-width: 900px) {
  .cell {
    padding-left: 80px;
    padding-right: 80px;
  }
}

#cell-1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 55px;
}

@media (min-width: 900px) {
  #cell-1 {
    grid-column-start: 4;
    grid-column-end: 7;
    padding-top: 70px;
    padding-left: 0;
  }
}

#cell-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 40px;
  padding-right: 0;
}

@media (min-width: 900px) {
  #cell-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
  }
}
#cell-2 svg {
  min-width: 173px;
  max-width: 380px;
  width: 100%;
}

#cell-3 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-bottom: 2em;
}

@media (min-width: 900px) {
  #cell-3 {
    grid-column-start: 4;
    grid-column-end: 7;
    padding-left: 0;
  }
}
#cell-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 900px) {
  #cell-4 {
    grid-column-start: 3;
    grid-column-end: 6;
  }
}
#cell-4 {
  color: white;
  text-align: right;
}
@media (min-width: 900px) {
  #cell-4 h2 {
    margin-left: auto;
    margin-right: auto;
  }
}
#cell-5 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  padding-bottom: 80px;
  color: white;
}
@media (min-width: 900px) {
  #cell-5 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 0;
  }
}
#bg-top {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  z-index: -1;
  background-color: white;
  background-image: url(../../assets/grey-circle.svg);
  background-size: 100vw;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 35vw;
}
@media (min-width: 640px) {
  #bg-top {
    background-size: 80vw;
  }
}

@media (min-width: 900px) {
  #bg-top {
    background-size: 50vw;
    background-position-x: 40vw;
  }
}

#bg-bottom {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 6;
  background-color: var(--color-main);
  z-index: -1;
}
