main {
  /* background-image: url(./grey-circle.svg); */
  /* background-image: url(../../assets/grey-circle.svg); */
  background-image: url(../../assets/grey-half-circle.svg);
  background-position: 100px -100px;
  background-repeat: no-repeat;
  background-size: 100% 140%;
  /* background: linear-gradient(180deg, white 320px , var(--color-main) 320px); */
}
.title {
  padding: 1rem;
}
@media screen and (min-width: 360px) {
  .title {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 480px) {
  .title {
    padding: 1.5rem 2rem;
  }
}
@media screen and (min-width: 720px) {
  .title {
    padding: 1.5rem calc(2rem + 8vh);
  }
}
