.about-page{
  overflow: hidden;
}

.about-top-text{
  padding-left: 2rem;
  padding-right: 2rem;
}

.person-donate {
  position: relative;
  z-index: 0;
}

.bottom-section {
  background-color: #D81921;
}

.padding-left-1 {
  padding: 0 0 0 1rem;
}

.padding-right-1 {
  padding: 0 1rem 0 0;
}

.call-to-action {
  text-align: right;
  color: #FFFFFF;
  margin: 0 1rem 0 0;
  font-size: 1rem;
}

.about-bottom-text{
  color: #ffffff;
}

.donate{
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.column {
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

@media only screen and (max-width: 420px) {

  .person-donate {
    width: auto;
    height: 90%;
    position: relative;
    bottom: 12%;
  }

  .invisible {
    display: none;
  }
}

@media only screen and (min-width: 680px) {
  .about-top-text{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .top-text p{
    width: 60%;
  }

  .person-donate {
    width: auto;
    height: 150%;
    position: relative;
    bottom: 55%;
    left: 20%;
  }

  #donate-section{
    margin-right:  calc(2rem + 10vh);
  }

  #donate-section p {
    text-align: middle;
  }

  /* Safari SVG scale*/

  .person-donate:not(:root:root) {
    width: 50%;
    height: 60%;
    position: absolute;
    top: 24rem;
    left: 0
  }

  .bottom-section:not(:root:root) {
    min-height: 20rem;
  }
}


@media only screen and (min-width: 1024px) {

  .person-donate {
    width: auto;
    height: 200%;
    position: relative;
    bottom: 23.5em;
  }

  .about-top-text{
    margin: 0;
    padding-left: calc(10vh);
    padding-right: calc(10vh);
  }

  .about-top-text p{
    margin-bottom: 0;
  }

  #donate-section{
    margin-right:  calc(12rem + 10vh);
    margin-left: calc(-12rem + 10vh);
  }

  #donate-section p {
    text-align: middle;
  }

  .app-logo{
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about-top-text{
    margin: 0;
    padding-left: calc(20vh);
    padding-right: calc(26vh);
  }
}