.about {
  background-image: url(./svg/ellipse.svg);
  background-position: 120px -120px; /*TODO: find rem equivalent*/;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding: 0 1rem;
  font-size: larger;
}

.top-text{
  padding: 1rem 2rem;
}


.bottom-section {
  background-color: #D81921;
}

.person {
  padding: 0 0 0 1rem;
}

.call-to-action {
  text-align: right;
  color: #FFFFFF;
  margin: 0 1rem 0 0;
}

.donate {
  border-radius: 0.075rem;
  color: #8C0571;
  font-weight: 600;
  font-size: large;
  background: #FBAF1E;
  display: inline-block;
  margin: 2rem 0 1rem 1rem;
  padding: 0.5rem 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
