.host {
  background-image: url(../../assets/circle_grey.svg);
  background-position: 100px -150px; /*TODO: find rem equivalent*/;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding: 0 1rem;
  font-size: larger;
}

.top-text{
  padding: 1rem 2rem;
}

.top-list{

}

.middle-section {
  background-color: #D81921;
}

.bottom-section {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.submit-host{
  padding: 2rem;
}

label{
  
}
input[type="text"],
input[type="email"],
input[type="textarea"] {
  align-items: middle;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

br{
  display:block;
}

/*input[type="textarea"] {
  height: 200%;
}
*/
.padding-left-1 {
  padding: 0 0 0 1rem;
}

.call-to-action {
  text-align: right;
  color: #FFFFFF;
  margin: 0 1rem 0 0;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}