.title {
  padding: 0 1rem;
  font-size: larger;
}

top-section{
}

.top-text{
  padding: 1rem 2rem;
}

.top-list{
  margin: 0;
  padding: 0;
  list-style: none
}

.custom-bullet-list li{
    position: relative;
    padding-left: 3rem;
    padding-bottom: 1rem;
    display: block;
}

.custom-bullet-list li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: -1rem;
    margin-left : -2rem;
    background-image: url(./svg/logo_bullet.svg);
    background-repeat: no-repeat;
}

.person{
  height: 90%;
  position: relative;
  left: 0;
  top: 16rem;
  padding-left: 1rem;
}

.middle-section {
  background-color: #D81921;
  height: 8rem;
}

.bottom-section {
  padding-bottom: 2rem;
}

.form-submit{
  color: #ffffff;
  padding: 2rem;
}

.form-submit__item:not(:last-of-type){
  margin-bottom: 1rem;
}

.form-submit input:focus{
  outline: 0;
  outline-offset: 0.5px;
  box-shadow: 0 0 0 2px #ffffff inset;
}

.form-submit input{
  border: 0;
}

input[type="text"],
input[type="email"],
.textarea {
  border-radius: 0.3rem;
  padding: 0.5rem 0 0.5rem 0;
  outline: 0;
  border: none;
}

label {
  line-height: 150%;
}

/*input[type="textarea"] {
  height: 200%;
}
*/
.padding-left-1 {
  padding: 0 0 0 1rem;
}

.call-to-action {
  text-align: right;
  color: #FFFFFF;
  padding-right: 1rem;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.long_column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.short_column {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 0.5rem;
}

.top-list {
  display: block
}

.tcs {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  cursor: pointer;
}

.tcs input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.checkbox {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width:  1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #eee;
  text-align: center;
  background-color: #eee;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Focus */
.tcs input:focus ~ .checkbox {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Checked state */
.tcs input:checked ~ .checkbox {
  color: #fff;
  background-color: #0074d9;
}

/* Checkbox modifiers */
.tcs .checkbox {
  border-radius: .25rem;
}
.tcs input:checked ~ .checkbox {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJ3aGl0ZSIvPgo8cmVjdCB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=);
}

/* Radio modifiers */
.radio .control-indicator {
  border-radius: 50%;
}
.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

.control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.control input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}
.control-indicator {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width:  1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #eee;
  text-align: center;
  background-color: #eee;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.control:hover .control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/

/* Focus */
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: #0074d9;
}

/* Active */
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: #84c6ff;
}

@media only screen and (max-width: 600px) {
  .person {
    width: 100%;
    height: 80%;
    position: relative;
    top: 16rem;
    z-index: 0;
  }

  .top-text {
    height: 360px;
  }
}

@media only screen and (min-width: 900px) {
  .person {
    width: 100%;
    height: 100%;
    position: relative;
    top: 11rem;
    z-index: 0;
  }

  .top-text {
    height: 360px;
  }

  .form-submit {
    margin: 0 12rem 0 36rem;
  }


  .call-to-action{
    margin-right: 12rem;
    text-align: left;
    font-size: larger;
  }

  .call-to-action p {
    padding-left: 1rem;
    padding-top: 0.5rem;

  }
}

