.top-text-host{
  padding-right: 2rem;
}

.top-list{
  margin: 0;
  padding: 0;
  list-style: none
}

.custom-bullet-list li{
    position: relative;
    padding-left: 1rem;
    padding-bottom: 1rem;
    display: block;
}

.custom-bullet-list li::before {
    content: "";
/*    width: 90%;
    height: 90%;*/
    padding-right: 1.4rem;
    background-image: url(../../assets/logo_bullet_point.svg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    margin-left: -1.5rem;
}

.person-host{
  height: 90%;
  position: relative;
  left: 0;
  top: 16rem;
  padding-left: 1rem;
}

.info{
  margin: 0;
  text-align: right;
  margin-left: 12em;
  font-size: calc(0.2rem + 1vh);
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.form-submit{
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.form-submit__item:not(:last-of-type){
  margin-bottom: 1rem;
}

.form-submit input:focus{
  outline: 0;
  outline-offset: 0.5px;
  box-shadow: 0 0 0 2px #ffffff inset;
}

.form-submit input{
  border: 0;
}

input[type="text"],
input[type="email"],
.textarea {
  border-radius: 0.3rem;
  padding: 0.5rem 0 0.5rem 0;
  outline: 0;
  border: none;
  font-size: calc(14px + 1vh);
}

label {
  line-height: 150%;
}

/*input[type="textarea"] {
  height: 200%;
}
*/
.padding-left-1 {
  padding: 0 0 0 1rem;
}

.call-to-action {
  text-align: right;
  color: #FFFFFF;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.long_column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.short_column {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 0.5rem;
}

.top-list {
  display: block
}

.tcs {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  cursor: pointer;
}

.tcs input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.checkbox {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width:  1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #eee;
  text-align: center;
  background-color: #eee;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Focus */
.tcs input:focus ~ .checkbox {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Checked state */
.tcs input:checked ~ .checkbox {
  color: #fff;
  background-color: #0074d9;
}

/* Checkbox modifiers */
.tcs .checkbox {
  border-radius: .05rem;
}
.tcs input:checked ~ .checkbox {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
}

/* Radio modifiers */
.radio {
  margin-top: 0.2rem;
}
.radio .control-indicator {
  border-radius: 50%;
}
.radio input:checked ~ .control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
}

.control {
  position: relative;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
}
.control input {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}
.control-indicator {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width:  1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #eee;
  text-align: center;
  background-color: #eee;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.control:hover .control-indicator {
  color: #fff;
  background-color: #ccc;
}
*/

/* Focus */
.control input:focus ~ .control-indicator {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Checked state */
.control input:checked ~ .control-indicator {
  color: #fff;
  background-color: #0074d9;
}

/* Active */
.control input:active ~ .control-indicator {
  color: #fff;
  background-color: #84c6ff;
}

@media only screen and (max-width: 600px) {
  .person-host {
    width: 90%;
    height: 80%;
    position: relative;
    top: 10rem;
    z-index: 0;
  }
}

@media only screen and (min-width: 601px) {
  .person-host {
    width: 90%;
    height: 100%;
    top: 10rem;
  }

  .info {
    text-align: left;
    margin: 0;
  }

  .form-submit {
    padding-right: 12rem;
    padding-left: calc(16rem + 10vh);
  }

  .call-to-action{
    text-align: left;
    margin-left: -10rem;
    margin-right: 12rem;
  }

  .call-to-action p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 767px) {
  .person-host {
    width: auto;
    height: 110%;
    top: 10rem;
  }
}


@media only screen and (min-width: 1025px) {
  .person-host {
    width: 65%;
    height: 110%;
    position: relative;
    z-index: 0;
    top: 13em;
    left: 3rem;
  }

  .form-submit {
    padding-right: 10rem;
    padding-left: calc(36rem + 15vh);
  }

  .call-to-action{
    text-align: left;
    margin-right: 6rem;
    margin-left: calc(0rem + 1vh);
  }
}

_::-webkit-full-page-media, _:future, :root .safari_only {
  .person-host {
  width: auto;

  }
}

