#app-header {
  position: sticky;
  z-index: 1000;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #d81921;
  min-height: 60px;
}

#app-title-link {
  display: block;
  text-decoration: none;
  padding: 1rem 1rem;
}

@media screen and (min-width: 360px) {
  #app-title-link {
    padding: 1rem 2rem;
  }
}

#app-header .main-nav {
  display: none;
  margin: 0 auto;
  width: 400px;
}
@media screen and (min-width: 900px) {
  #app-header .main-nav {
    display: block;
  }
}
