@import url("https://fonts.googleapis.com/css?family=Lato:400,500,700&display=swap");

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: calc(16px + 0.2vw);
  line-height: calc(1.1em + 0.2vw);
  margin: 0;
}

h1 {
  font-weight: normal;
  font-size: calc(24px + 1vw);
  color: #4f4f4f;
  padding-left: 1rem;
}
@media screen and (min-width: 360px) {
  h1 {
    padding-left: 2rem;
    padding-top: 1rem;
  }
}

@media screen and (min-width: 720px) {
  h1 {
    padding-top: 1.5rem;
    padding-left: calc(2rem + 8vh);
  }
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

.header {
  font-size: calc(21px + 0.4vw);
}

.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

/* Wrappers and Containers Styles */
.container-middle {
  height: 24rem;
  position: relative;
  top: 5rem;
  width: 100%;
}

.map-container {
  background-color: yellow;
  height: 80%;
  position: relative;
}

/* Padding and Margin */

.mg-left-2 {
  margin-left: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 2rem;
  background: #4f4f4f;
  visibility: hidden;
}

/* Regular 12pt */

.left-li {
  /* position: absolute;
  width: 96px;
  height: 12px;
  left: calc(50% - 96px/2 - 120px);
  top: calc(50% - 12px/2 + 12px); */
  /* identical to box height, or 100% */

  /* display: flex;
  align-items: flex-end;
  text-align: center; */
}

.center-li {
  /* position: absolute;
  width: 96px;
  height: 12px;
  left: calc(50% - 96px/2);
  top: calc(50% - 12px/2 + 12px); */

  /* display: flex;
  align-items: flex-end;
  text-align: center; */

  color: #ffffff;
}

.right-li {
  /* position: absolute;
  width: 96px;
  height: 12px;
  left: calc(50% - 96px/2 + 120px);
  top: calc(50% - 12px/2 + 12px); */
  /* display: flex;
  align-items: flex-end;
  text-align: center;
   */
  color: #ffffff;
}

.selected-text {
  color: #fbaf1e;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.div-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.button-wrapper {
  height: 100%;
  width: 20%;
}

.intro-box {
  background-color: #e5e5e5;
  height: 75%;
}
.circle {
  position: relative;
  width: 400px;
  height: 400px;
  left: 135px;
  top: -196px;

  opacity: 0.6;
  color: #f2f2f2;
}
/* Map Component */
.leaflet-container {
  height: 50vh;
}

.padding-top-2 {
  padding-top: 20px;
}

.column {
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  .column {
    width: 50%;
  }
}

.padding-top-8 {
  padding-top: 8.5rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.search-component-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: #d81921;
  bottom: 3rem;
  margin-top: 0rem;
  /* height: 536px; */
}

.bullet-point {
  height: 17px;
  width: 17px;
  color: #d81921;
}

.padding-right-half {
  padding-right: 0.5rem;
}

.padding-right-1 {
  padding-right: 1rem;
}

.footer-bottom-half {
  margin-bottom: 0.2rem;
}

.margin-top-0 {
  margin-top: 0;
}

.div-ul-2 {
  padding-left: 2.8rem;
}

.aboutLink {
  padding-right: 1.3rem;
}

.findBox {
  padding-left: 0.2rem;
}

.hostBox {
  padding-right: 0.4rem;
}

/* button */
.button {
  border-radius: 0.2rem;
  color: #8c0571;
  font-weight: 600;
  font-size: large;
  background: #fbaf1e;
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0 3rem 0;
  display: block;
  border: none;
}

.button:focus {
  outline: none;
  background: #fcc762;
}

.button:hover {
  background: #fcc762;
}

.logo {
  height: 40%;
}
/* container with grey circle background*/
.app-container-circle {
  background-image: url(assets/circle_grey.svg);
  background-position: 100px -100px;
  background-repeat: no-repeat;
  background-size: 100% 140%;
}

.app-logo {
  width: 80%;
  height: 20%;
}

.top-list {
  list-style: none;
  padding-top: 20%;
  margin-top: 5rem;
  margin-left: 11rem;
}

/* need to be reviewed  */
.landing-bullet-list li {
  position: relative;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.landing-bullet-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./assets/logo_bullet_point.svg);
  background-repeat: no-repeat;
  left: 1rem;
}

.no-bullet::before {
  display: none;
}

.search-row {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 640px) {
  .search-row {
    flex-direction: row;
  }
}

@media only screen and (min-width: 900px) {
  .footer {
    visibility: inherit;
  }

  .app-logo {
    height: 50%;
    width: 50%;
  }

  #header {
    width: 70%;
    height: 5em;
  }
}

.row {
  flex-direction: row;
  flex: 0 1 auto;
}

.logo {
  padding-top: -1rem;
  padding-left: 2rem;
  max-width: 130px;
}

@media only screen and (min-width: 720px) {
  .logo {
    left: -14rem;
    position: absolute;
    height: 70.25px;
  }
}
@media only screen and (min-width: 800px) {
  .logo {
    left: -18rem;
  }
}

.pl-0 {
  padding-left: 0;
}
