@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: calc(16px + 0.2vw);
  line-height: calc(1.1em + 0.2vw);
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: calc(24px + 1vw);
}
h2 {
  font-size: 1.2em;
}

.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

/* Wrappers and Containers Styles */
.container-landing {
  height: 50rem;
  position: relative;
  top: 5rem;
  width: 100%;
}

.container-home {
  height: 21rem;
  /* background-color: #E5E5E5 */
}

.container-middle {
  height: 24rem;
  position: relative;
  top: 5rem;
  width: 100%;
}

.text-wrapper {
  /* padding: 3rem; */
  height: 20%;
  padding-left: 9rem;
}

.search-box-wrapper {
  height: 36rem;
  position: relative;
  width: 100%;
  /* Period red */
  background: #d81921;
}

.map-container {
  background-color: yellow;
  height: 80%;
  position: relative;
}

/* Padding and Margin */

.mg-left-2 {
  margin-left: 2rem;
}

Footer {
  display: flex;
  flex-direction: column;
}

.footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  height: 2rem;
  background: #4f4f4f;
  visibility: hidden;
}

/* Regular 12pt */

.left-li {
  /* position: absolute;
  width: 96px;
  height: 12px;
  left: calc(50% - 96px/2 - 120px);
  top: calc(50% - 12px/2 + 12px); */
  /* identical to box height, or 100% */

  /* display: flex;
  align-items: flex-end;
  text-align: center; */
}

.center-li {
  /* position: absolute;
  width: 96px;
  height: 12px;
  left: calc(50% - 96px/2);
  top: calc(50% - 12px/2 + 12px); */

  /* display: flex;
  align-items: flex-end;
  text-align: center; */

  color: #ffffff;
}

.right-li {
  /* position: absolute;
  width: 96px;
  height: 12px;
  left: calc(50% - 96px/2 + 120px);
  top: calc(50% - 12px/2 + 12px); */
  /* display: flex;
  align-items: flex-end;
  text-align: center;
   */
  color: #ffffff;
}

.selected-text {
  color: #fbaf1e;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}

.div-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.button-wrapper {
  height: 100%;
  width: 20%;
}

.intro-box {
  background-color: #e5e5e5;
  height: 75%;
}
.circle {
  position: relative;
  width: 400px;
  height: 400px;
  left: 135px;
  top: -196px;

  opacity: 0.6;
  color: #f2f2f2;
}
/* Map Component */
.leaflet-container {
  height: 50vh;
}

/* text */
.landing-text-1 {
  position: relative;
  min-width: 320px;
  height: 64px;
  /* left: 32px; */
  top: 0;

  /* font-family: Lato;
  font-style: normal;
  font-weight: 600; */
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #4f4f4f;
}

.landing-text-2 {
  position: absolute;
  width: 187px;
  height: 44px;
  left: 215px;
  top: 172px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #4f4f4f;
}

.landing-text-3 {
  min-width: 158px;
  /* width: 199px; */
  height: 87px;

  /* font-family: Lato;
  font-style: normal; */
  font-weight: 600;
  /* font-size: 24px; */
  line-height: 29px;
  align-items: center;
  text-align: right;

  color: #FEFEFE;
  position: relative;
  padding-top: 1rem;
/*   margin-left: 9.5rem; */
}
.padding-top-2 {
  padding-top: 20px;
}

.column {
  flex-direction: column;
  width: 50%;
}
/* assets */
.human3 {
  position: relative;
  height: 90%;
  width: 90%;
  left: 0;
  /* iphone 5 */
  top: -7.1rem;
  padding-left: 1.4rem;
}

.padding-top-8 {
  padding-top: 8.5rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.search-box {
  /* iphone 5 */
  height: 48px;
  left: 1.8rem;
  top: -9.7rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  position: relative;
  width: 87%;
  justify-content: center;
}

.search-component-container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background: #D81921;
  bottom: 3rem;
}

.bullet-point {
  height: 17px;
  width: 17px;
  color: #d81921;
}

.padding-right-half {
  padding-right: 0.5rem;
}

.padding-right-1 {
  padding-right: 1rem;
}

.footer-bottom-half {
  margin-bottom: 0.2rem;
}

.margin-top-0 {
  margin-top: 0;
}

.div-ul-2 {
  padding-left: 2.8rem;
}

.aboutLink {
  padding-right: 1.3rem;
}

.findBox {
  padding-left: 0.2rem;
}

.hostBox {
  padding-right: 0.4rem;
}

/* button */
.button {
  border-radius: 0.2rem;
  color: #8c0571;
  font-weight: 600;
  font-size: large;
  background: #fbaf1e;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  margin: 2rem 0 1rem 0;
  display: block;
}

/* container with grey circle background*/
.container-circle {
  background-image: url(assets/circle_grey.svg);
  background-position: 100px -20px; /*TODO: find rem equivalent*/
  background-repeat: no-repeat;
  background-size: 80% 120%;
}

.logo {
  height: 40%;
}

.top-list{
  list-style: none;
  padding-top: 20%;
  margin-top: 5rem;
  margin-left: 11rem;
}

/* need to be reviewed  */
 .landing-bullet-list li{
  position: relative;
  padding-left: 3rem;
  padding-bottom: 1rem;
}
/*
.landing-bullet-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./assets/logo_bullet_point.svg);
  background-repeat: no-repeat;
} */

.home-container-padding-top {
  padding-top: 6rem;
  /* left: 1rem; */
}

.flex {
  display: flex;
}

@media only screen and (min-width: 900px) {
  .container-circle {
    background-position: 100px -150px; /*TODO: find rem equivalent*/
    background-size: 100% 170%;
  }

  .footer {
    visibility: inherit;
  }

  .logo {
    height: 60%;
  }

  #header {
    width: 50%;
    height: 5em;
  }
}

.row {
  flex-direction: row;
  flex: 0 1 auto;
}

.logo {
  width: 36%;
  padding-top: -1rem;
  padding-left: 2rem;
}

.landing-list {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0;
}