@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");

:root {
  font-size: clamp(100%, 50% + 0.666vw, 150%);
}

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
  color: #4f4f4f;
  margin-top: 0;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

.App-link {
  color: #09d3ac;
}

.center-li {
  color: #ffffff;
}

.right-li {
  color: #ffffff;
}

.selected-text {
  color: #fbaf1e;
}

.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
