.navbar {
  z-index: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  min-height: 70px;
  height: 4rem;
  background: #4f4f4f;
  padding-bottom: 0.5rem;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

.material-icons.md-dark{
  color: white;
  font-size: calc(4vh);
}

a:focus,
a:active,
a:hover,
.material-icons.md-dark:focus,
.material-icons.md-dark:active,
.material-icons.md-dark:hover {
  color: #FBAF1E;
}

.nav-list{
  padding: 0;
}

.nav-item{
  text-align: center;
  font-size: 0.7rem;
  display: inline-block;
  list-style-type: none;
  color: white;
  width: 33.33%;
}

.nav-item: hover{
  color: #FBAF1E;
}

.nav-text {
  display: block;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  .navbar {
    height: 5rem;
  }
}



@media only screen and (min-width: 900px) {
  .navbar {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    background: #d81921;
    min-height: 70px;
    height: 5em;
    padding-bottom: 0;
  }
}