.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  min-height: 60px;
  height: 3rem;
  background: #4f4f4f;
}

a {
  text-decoration: none;
  color: white;
}

.material-icons{
  margin: 0;
  padding: 0;
  padding-left: 0.1rem;
  line-height: 1rem;
}

.nav-item{
  width: 30%;
  font-size: 0.8rem;
  display: inline;
  list-style-type: none;
  padding-right: 1rem;
  color: white;
}

.nav-text {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}